
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	min-width: 100%;
}

a {
	transition: color .2s linear;
}
a:hover {
	color: #fb0092 !important;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	font-family: sans-serif;
	border: none;
	width: 100%;
	height: 100%;
	max-width: 600px;
	margin: 0 auto;
}

td {
	vertical-align: center;
}

h1, h2, h3, h4, h5, h6, p {
	font-weight: 500;
}

img {
	border: 0;
}

/* Windows Phone Viewport Fix */
@-ms-viewport {
	width: device-width;
}



#wrapper {
	width: 100%;
	table-layout: fixed;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
.webkit {
	max-width: 600px;
}

#header_suggestions td {
	text-align: center;
	font-weight: 600;
	padding: 10px 0;
}
#header_suggestions a {
	text-decoration: none;
	color: black;
}
#header_suggestions span {
	font-size: 24px;
	line-height: 1;
}

#order_prices td {
	padding: 0 20px;
}

