
// Main

section.banner_main
	position: relative
	height: 32.6vw
	max-height: 810px
	.slider
		overflow: hidden
		transition: all 0.5s ease-in
	.slide
		display: inline-block
		width: 100%
		height: 32.6vw
		max-height: 810px
		position: relative
		overflow: hidden
		img
			position: absolute
			left: 50%
			top: 50%
			transform: translate(-50%, -50%)
			width: 100%
			height: auto
			min-height: 100%
			&.mobile_slide
				display: none
	.slider_nav
		position: absolute
		z-index: 10
		padding: 24px 0
		bottom: 0
		left: 0
		width: 100%
		.slick-dots
			margin-top: 14px
	.shop_now
		display: block
		width: max-content
		margin: 0 auto
		padding: 13px 89px
		font-family: $ff_mplusround
		font-weight: 500
		color: $text-secondary
		background-color: $bg-secondary
		&:hover
			background-color: $interactive-color-primary

section.products
	margin-top: 70px
	overflow: hidden
	.cards
		margin-top: 43px
		padding: 5px 0
		&.loading_products
			min-height: 400px
			min-width: 100%
			opacity: 0.5
			pointer-events: none
		.slick-list
			padding: 0 30px !important
	.card
		width: calc( 100% / 5 )
		height: 335px
		vertical-align: middle
		margin: 0 12px
		padding: 0 30px
		max-width: 280px
		display: inline-flex
		flex-direction: column
		position: relative
		transition: all 0.25s ease
		@media (min-width: 414px)
			&[aria-hidden=true]
				opacity: 0
		&:hover
			.thumb img
				transform: translate(-50%, -50%) scale(1.05)
			.name
				color: $interactive-color-primary
		> *
			flex-shrink: 0
		.tags
			position: absolute
			z-index: 20
			left: 0
			top: 0
			display: flex
			flex-direction: column
			gap: 10px
			.tag
				font-family: $ff_mplusround
				font-size: 12px
				font-weight: 500
				font-style: italic
				padding: 7px 12px
				border-radius: 12px 0 12px 0
				color: $text-secondary
				background-color: $bg-secondary
				text-transform: uppercase
				&:hover
					background-color: $interactive-color-primary
		.thumb
			height: 190px
			overflow: hidden
			position: relative
			z-index: 10
			img
				width: auto
				height: auto
				max-height: 95%
				max-width: 95%
				position: absolute
				z-index: inherit
				left: 50%
				top: 50%
				transition: all 0.4s ease
				transform: translate(-50%, -50%)
		.name h4
			font-size: 16px
			font-weight: 500
			font-family: $ff_futura
			text-align: center
			direction: ltr
			display: -webkit-box
			-webkit-line-clamp: 2
			-webkit-box-orient: vertical
			overflow: hidden
			transition: all 0.4s ease
		.attributes
			display: flex
			flex-direction: column
			margin-bottom: 12px
		.price
			margin-top: 10px
			align-self: center
			font-size: 0
			display: flex
			justify-content: center
			width: 100%
			span
				font-size: 16px
				font-weight: 500
			.price_current
				width: max-content
				text-align: center
				white-space: nowrap
				span
					font-size: 16px
			.price_old
				width: 100%
				text-align: left
				span
					font-size: 14px
					color: rgba($text-primary, 0.5)
					text-decoration: line-through
		.quantity
			align-self: flex-start
			font-size: 0
			span
				font-family: $ff_mplusround
				font-size: 14px
				font-weight: 500
				color: rgba($text-primary, 0.5)
		.add_to_cart
			width: 100%
			margin: auto auto 0
			justify-self: flex-end
			padding: 12px
			font-weight: 500
			font-size: 13px
			text-align: center
			border: 1px solid $text-primary
			background: none
			&:hover
				border-color: $interactive-color-primary
				color: $interactive-color-primary
				box-shadow: 0px 0px 10px 0px rgba($interactive-color-primary, 0.1)
	.slider_nav
		margin: 40px -10px 0 0
		display: flex
		align-items: center
		gap: 10px

section.banners_small
	padding: 70px 0 35px
	.wrapper
		width: 90%
	.cards
		display: flex
		gap: 30px
	.card
		width: 50%
		height: 37.7vw
		overflow: hidden
		position: relative
		transition: all 0.4s ease
		&:hover
			box-shadow: 0px 0px 20px 0px rgba($bg-secondary, 0.4)
		img
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			height: 101%
			width: auto
			&.banner_small_mobile
				display: none

section.cosmetics_types
	padding: 35px 0 70px
	.cards
		display: flex
		gap: 30px
	.card
		width: calc( 100% / 3 )
		height: 24.3vw
		overflow: hidden
		display: inline-flex
		flex-direction: column
		justify-content: center
		position: relative
		transition: all 0.4s ease
		.card_bg
			position: absolute
			z-index: 5
			left: 50%
			top: 50%
			transform: translate(-50%, -50%)
			min-width: 101%
			min-height: 101%
			max-width: 105%
		.card_name
			position: relative
			z-index: 10
			padding: 15px
			text-align: center
			font-size: 26px
			font-weight: 500
			transition: all 0.4s ease
			background-color: rgba($bg-primary, 0.7)
			border-top: 2px solid $interactive-color-primary
			border-bottom: 2px solid $interactive-color-primary
		&:hover
			box-shadow: 0px 0px 20px 0px rgba($bg-secondary, 0.4)
			.card_name
				background-color: rgba($bg-primary, 0.8)
				color: $interactive-color-primary

section.achievements
	background-color: $bg-medial
	&.search_achievements
		margin-bottom: 0 !important
	.wrapper
		padding: 60px 0 45px
	.cards
		display: flex
		align-items: center
		justify-content: space-between
		direction: ltr
	.card
		display: inline-flex
		align-items: center
		gap: 12px
		direction: ltr
		.amount
			font-family: $ff_futura
			font-size: 72px
			font-weight: 500
		.ofwhat
			font-family: $ff_futurabt
			font-size: 18px

// Single Product

section.choose_product
	max-height: 580px
	transition: all 0.4s ease
	.wrapper
		display: flex
		align-items: center
		gap: 140px
	.product_gallery
		width: 50%
		display: flex
		flex-direction: column
		align-items: center
		.name
			display: none
			margin: 20px 0
			font-family: $ff_futura
			font-size: 22px
			font-weight: 500
			text-align: center
		.big_images
			max-width: 100%
			max-height: 500px
			position: relative
			.slider
				max-width: 100%
				overflow: hidden
				transition: all 0.25s ease
				&.inactive
					opacity: 0
					visibility: hidden
				.slide img
					display: block
					margin: 0 auto
					max-width: 100%
					max-height: 100%
			.slick-list
				padding: 0 !important
			.slide:not(.slick-current)
				opacity: 0
				visibility: hidden
			.other_colors
				width: 100%
				height: 100%
				position: absolute
				top: 50%
				left: 50%
				transform: translate(-50%, -50%)
				z-index: 50
				transition: all 0.4s ease-out
				opacity: 0
				visibility: hidden
				&.active
					opacity: 1
					visibility: visible
				img
					position: absolute
					top: 50%
					left: 50%
					transform: translate(-50%, -50%)
					max-width: 100%
					max-height: 100%
					transition: all 0.4s ease-out
					opacity: 0
					visibility: hidden
					&.active
						opacity: 1
						visibility: visible
		.small_images
			max-height: 80px
			margin-top: 15px
			display: flex
			align-items: center
			justify-content: center
			.slider
				max-width: 215px
				margin: 0 35px
				overflow: hidden
			.slick-list
				padding: 3px 10px
			.slide
				width: 55px
				height: 65px
				margin: 0 10px
				position: relative
				cursor: pointer
				transition: all 0.25s ease
				border: 1px solid #dedede
				&:hover, &.slick-current
					border-color: $interactive-color-primary
				img
					position: absolute
					left: 50%
					top: 50%
					transform: translate(-50%, -50%)
					width: 100%
					height: auto
					max-width: 95%
					max-height: 95%
		.slider_nav
			display: none
			margin-top: 20px
	.product_variations
		width: 50%
		max-width: 550px
		display: flex
		flex-direction: column
		position: relative
		#add_to_fav
			position: absolute
			top: 0
			left: 0
			transform: scale(1)
			svg
				fill: $text-primary
			&:hover svg
				fill: $interactive-color-primary
			&.active
				animation: beat 0.5s 0s ease forwards
				svg
					fill: $interactive-color-primary
		.name
			font-family: $ff_futura
			font-size: 20px
			font-weight: 500
			max-width: 90%
		.price
			margin-top: 12px
			font-size: 24px
			font-weight: 500
		.variations_info
			margin-top: 32px
			padding: 25px 0 10px
			border-top: 1px solid #e9e9e9
			display: flex
			align-items: center
			justify-content: space-between
			position: relative
		#info_chosen
			font-family: $ff_futurabt
			font-size: 1.1em
		#show_all_colors
			font-family: $ff_futurabt
			font-size: 12px
			display: inline-flex
			align-items: center
			justify-content: center
			gap: 20px
			border-radius: 20px
			padding: 8px 15px
			border: 1px solid #dedede
			svg
				transform: rotate(-90deg)
				fill: $text-primary
			&:hover, &.active
				border-color: $interactive-color-primary
				svg
					fill: $interactive-color-primary
		#all_colors
			position: absolute
			z-index: 50
			top: 100%
			left: 0
			width: 100%
			max-width: 450px
			background: $bg-primary
			border: 1px solid $bg-secondary
			font-size: 17px
			max-height: 300px
			overflow-y: scroll
			scrollbar-width: 10px
			transition: all 0.4s ease
			opacity: 0
			visibility: hidden
			transform: scale(0)
			transform-origin: 0 0
			&::-webkit-scrollbar
				width: 0.25em
			&::-webkit-scrollbar-track
				background: $bg-medial
			&::-webkit-scrollbar-thumb
				background-image: linear-gradient(180deg, darken($interactive-color-primary, 30%) 0%, darken($interactive-color-primary, 10%) 99%)
			&.active
				opacity: 1
				visibility: visible
				transform: scale(1)
			a
				display: flex
				align-items: center
				padding: 0.5em 1em
				gap: 1em
				font-size: 0.8em
				&:hover
					background: $bg-medial
					.item_color
						transform: scale(1.2)
					.item_name
						color: $interactive-color-primary
				.item_color
					width: 2.5em
					height: 2.5em
					background: var(--product-color)
					transition: all 0.25s ease
				.item_name
					text-transform: uppercase
					font-weight: normal
					color: rgba($text-primary, 0.7)
		.slider_colors
			display: flex
			align-items: center
			justify-content: center
			min-height: 91px
			.slider
				max-width: 81%
				margin: 0 10px
				padding: 10px 10px
				overflow: hidden
			.slide
				width: 62px
				height: 62px
				padding: 5px
				cursor: pointer
				vertical-align: bottom
				&::after
					content: ''
					display: block
					width: 100%
					height: 100%
					transition: all 0.25s ease
					background: var(--product-color)
					transform-origin: 50% 100%
				&:hover::after, &.current_product::after
					transform: scale(1, 1.2)
				&[aria-hidden=true]
					opacity: 0
					visibility: hidden
		form
			margin-top: 8px
			display: flex
			flex-direction: column
			align-items: center
			gap: 25px
			.price
				display: none
				margin-top: 0
			#add_products_to_cart
				width: 100%
				max-width: 480px
				margin: 0 auto
				font-family: $ff_mplusround
				font-size: 18px
				font-weight: 500
				padding: 12px
				border: 1px solid $text-primary
				&:hover
					color: $text-secondary
					background: $interactive-color-primary
					border-color: $interactive-color-primary
		.report_price
			margin-top: 18px
			font-family: $ff_futurabt
			font-size: 14px
			text-decoration: underline
			color: rgba($text-primary, 0.5)
			&:hover
				color: $interactive-color-primary

section.product_description
	margin-top: 50px
	background: #f4f4f4
	.wrapper
		padding: 53px 0
		display: flex
		align-items: center
		gap: 50px
	.main_decription
		width: 57%
		font-size: 16px
	.fits_with
		width: 40%
		> p
			font-size: 18px
			text-align: right
			direction: ltr
	.proposal_card
		margin-top: 15px
		border: 1px solid #c4c4c4
		padding: 28px 0 28px 28px
		display: flex
		.image
			width: 20%
			display: inline-flex
			align-items: center
			justify-content: center
			img
				max-width: 95%
				max-height: 100%
		.content
			width: 80%
			max-width: 450px
			display: flex
			flex-direction: column
			justify-content: space-between
			gap: 20px
			font-size: 1.1em
			h4
				font-family: $ff_futurabt
				font-size: 16px
				font-weight: 500
			.model
				display: flex
				align-items: center
				gap: 10px
				.color
					width: 1.7em
					height: 1.7em
					background: var(--model-color)
				.name
					font-family: $ff_futurabt
			.price
				font-family: $ff_mplusround
				font-size: 16px
				font-weight: 500
			.quick_show
				width: 100%
				font-family: $ff_mplusround
				font-size: 18px
				font-weight: 500
				padding: 7px
				border: 1px solid $text-primary
				&:hover
					color: $text-secondary
					background: $interactive-color-primary
					border-color: $interactive-color-primary

section.product_instructions
	margin-top: 50px
	.wrapper
		width: 65%
		max-width: 930px
	.steps
		margin-top: 36px
		counter-reset: step
		li
			display: flex
			align-items: center
			justify-content: center
			gap: 45px
			&:not(:first-child)
				margin-top: 10px
			.text
				font-size: 18px
				h6
					font-weight: 500
					.step_index::after
						counter-increment: step
						content: counters(step, ".")
			.image
				flex-shrink: 0
				width: 320px
				height: 320px
				position: relative
				img
					position: absolute
					z-index: 50
					left: 50%
					top: 50%
					transform: translate(-50%, -50%)
					width: 100%
					height: auto
				&::before, &::after
					content: ''
					display: block
					background: $interactive-color-primary
					border-radius: 100%
					position: absolute
					z-index: 0
				&::before
					width: 84px
					height: 84px
				&::after
					width: 38px
					height: 38px
			&:nth-of-type(odd)
				.text
					order: 1
				.image
					order: 2
					&::before
						top: 0
						left: 0
					&::after
						bottom: 0
						right: 0
			&:nth-of-type(even)
				.text
					order: 2
				.image
					order: 1
					&::before
						right: 0
						top: 0
					&::after
						left: 7%
						bottom: 7%

section.related_products
	@extend section.products
	margin: 80px 0 60px

section.single_product_achievements
	display: none

// Catalog

section.catalog_banner
	position: relative
	> img
		width: 100%
		height: auto
		&.mobile
			display: none
	.breacrumbs
		position: absolute
		top: 0
		left: 0
		padding: 30px 0
		width: 100%
	.page_title_block
		position: absolute
		top: 50%
		left: 0
		transform: translate(0, -50%)
		padding: 30px 0
		width: 100%
		.page_title
			margin-right: 0

section.catalog_products
	@extend section.products
	margin: 50px 0 50px
	transition: all 0.4s ease
	.filters
		display: flex
		align-items: center
		gap: 12%
		.products_amount
			color: rgba($text-primary, 0.5)
		.filter_buttons
			display: flex
			align-items: center
			gap: 5px
			> *
				padding: 4px 15px
				border-radius: 25px
				border: 1px solid $tsp
				&:hover
					border-color: $interactive-color-primary
				&.active
					background: $interactive-color-primary
					color: $text-secondary
					border-color: $interactive-color-primary
	.cards
		display: flex
		flex-wrap: wrap
		gap: 35px
		margin-top: 60px
		.card
			flex-shrink: 0
			margin: 0
			width: calc( 100% / 5 - 35px )
		.catalog_filler
			width: calc( 100% / 5 * 2 - 35px )
			position: relative
			overflow: hidden
			transition: all 0.4s ease
			&:hover
				box-shadow: 0px 0px 20px 0px rgba($bg-secondary, 0.4)
			img
				position: absolute
				left: 50%
				top: 50%
				transform: translate(-50%, -50%)
				min-width: 101%
				min-height: 101%
	#load_more, #show_more
		width: max-content
		margin: 65px auto 0
		display: flex
		align-items: center
		gap: 10px
		font-family: $ff_futura
		font-weight: 500
		color: rgba($text-primary, 0.5)
		direction: ltr
		text-decoration: underline
		text-decoration-thickness: 2px
		svg
			transition: all 0.6s linear
			fill: rgba($text-primary, 0.5)
		&:hover
			color: $interactive-color-primary
			svg
				fill: $interactive-color-primary

// Checkout

section.checkout
	margin: 40px 0 110px
	font: 16px $ff_mplusround
	.wrapper
		width: 61%
	.submit_block
		.terms
			padding-right: 8px
			font-size: 14px
			a
				color: $text-link
				&:hover
					color: $interactive-color-primary
		#submit_order
			width: max-content
			max-width: 240px
			margin: 24px auto 0
			padding: 16px 94px
			border: 1px solid $text-primary
			font-weight: 500
			&:hover
				color: $text-secondary
				border-color: $interactive-color-primary
				background: $interactive-color-primary
	.products_in_cart
		width: calc( 60% - 18px )
		margin: 30px auto 0 0
		font-size: 20px
		color: rgba($text-primary, 0.7)
	.content
		margin-top: 25px
		display: flex
		gap: 30px
	#customer_info
		width: 40%
		h5
			font-size: 20px
			font-weight: 500
		.fields
			margin-top: 18px
			padding: 15px
			border: 1px solid $bg-medial-2
		label
			display: block
			&:not(:first-child)
				margin-top: 20px
			input, textarea
				margin-top: 10px
				font-size: 16px
			&#city_label
				position: relative
				> input
					padding-right: 48px
				.flag
					position: absolute
					bottom: 20px
					right: 12px
					transform: translate(0, 50%)
			p
				font-size: 18px
				font-weight: 500
		.submit_block
			display: none
			margin-top: 20px
	.cart_inners
		width: 60%
		display: flex
		flex-direction: column
		.sale_info
			font-size: 16px
			line-height: 2
		#cart_info
			margin-top: 15px
			flex-grow: 1
			display: flex
			flex-direction: column
			.cart_info
				flex-grow: 1
				display: flex
				flex-direction: column
				border: 1px solid $bg-medial-2
			.estimated, .order_details_title
				background: $interactive-color-primary
				color: $text-secondary
				font-weight: 500
				text-align: center
				padding: 8px
			.cart_items
				flex-grow: 1
				padding: 15px
				transition: all .4s ease
				position: relative
				min-height: 155px
				@media (min-width: 769px)
					max-height: 513px
					overflow-y: auto
					&.opened_coupon
						max-height: 460px
				&.no_items::after
					opacity: 1
					visibility: visible
				&::after
					content: 'No items in the cart.'
					position: absolute
					top: 50%
					left: 50%
					transform: translate(-50%, -50%)
					direction: ltr
					font-size: 1.2em
					width: 95%
					text-align: center
					transition: all 0.4s ease
					opacity: 0
					visibility: hidden
				@media (min-width: 1025px)
					scrollbar-width: 10px
					&::-webkit-scrollbar
						width: 5px
					&::-webkit-scrollbar-track
						box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4)
					&::-webkit-scrollbar-thumb
						background-image: linear-gradient(180deg, darken($interactive-color-primary, 30%) 0%, darken($interactive-color-primary, 10%) 99%)
						box-shadow: inset 2px 2px 10px 0 rgba($b, 0.5)
						border-radius: 10px
			.cart_item
				display: flex
				justify-content: space-between
				align-items: center
				gap: 1em
				height: 125px
				padding-left: 1em
				position: relative
				transition: all .4s ease
				&:not(:first-child)
					border-top: 1px solid $bg-medial-2
				&.removed
					transform: scale(0)
					opacity: 0
					visibility: hidden
				> *
					flex-shrink: 0
				.thumb
					height: 100%
					width: 15%
					position: relative
					img
						position: absolute
						left: 50%
						top: 50%
						transform: translate(-50%, -50%)
						max-width: 95%
						max-height: 95%
				.product_name
					width: 35%
					align-self: stretch
					padding: 1.5em 0
					h3
						line-height: 1.2
						a:hover
							color: $interactive-color-primary
					.model
						margin-top: 12px
						display: flex
						align-items: center
						gap: 10px
					.model_color
						width: 1.4em
						height: 1.4em
						border-radius: 50%
						background: var(--model-color)
					.model_name
						font-weight: 500
						font-size: 12px
						color: rgba($text-primary, .65)
				.quantity
					width: 15%
					align-self: stretch
					padding: 1.5em 0
					p
						font-size: 16px
					.manage_quantity
						margin-top: 6px
						border: none
						border-bottom: 1px solid $text-primary
						font-size: 15px
					button
						border: none
				.price
					width: 10%
					font-size: 18px
					font-weight: 500
				.remove_item
					width: 1.5em
					height: 1.5em
					padding: 0.4em
					border: 1px solid $bg-medial-2
					border-radius: 50%
					display: inline-flex
					align-items: center
					justify-content: center
					svg
						fill: $bg-medial-2
					&:hover
						border-color: $interactive-color-primary
						transform: scale(1.05)
						svg
							fill: $interactive-color-primary
						+ .item_bg
							opacity: 1
							visibility: visible
				.item_bg
					content: ''
					position: absolute
					z-index: -1
					left: 0
					top: 0
					right: 0
					bottom: 0
					width: 100%
					height: 100%
					background-color: rgba($interactive-color-primary, 0.1)
					transition: all 0.4s ease
					opacity: 0
					visibility: hidden
			.order_details_title
				background: $bg-secondary
			.order_details
				> *
					padding: 20px 40px
				.coupon
					#toggle_coupon_field
						font-weight: 500
						display: inline-flex
						align-items: center
						gap: 8px
						text-decoration: underline
						text-underline-offset: 3px
						text-decoration-thickness: 2px
						svg
							transform: rotate(-90deg)
						&:hover
							color: $interactive-color-primary
							svg
								fill: $interactive-color-primary
						&.active
							svg
								transform: rotate(90deg)
							+ .coupon_field
								max-height: 200px
								margin-top: 14px
								opacity: 1
								visibility: visible
					.coupon_field
						display: flex
						gap: 12px
						transition: all 0.4s ease
						max-height: 0
						opacity: 0
						visibility: hidden
						> input
							max-width: 170px
							font-size: 14px
							font-weight: normal
						> button
							width: 160px
							border: 1px solid $text-primary
							font-weight: 500
							&:hover
								color: $interactive-color-primary
								border-color: $interactive-color-primary
				.summary
					position: relative
					&::after
						content: ''
						position: absolute
						z-index: 100
						left: 50%
						top: 0
						width: 95%
						height: 1px
						transform: translate(-50%, -50%)
						background-color: $bg-medial-2
					.summary_price
						display: flex
						align-items: center
						gap: 6px
						font-weight: 500
						p
							font-size: 18px
						p.price
							font-size: 16px
					.free_delivery_info
						margin-top: 20px
						font-size: 14px
					.delivery_price
						margin-top: 12px
						font-size: 18px
				.summary_plus_delivery
					position: relative
					display: flex
					align-items: center
					gap: 6px
					p
						font-size: 20px
					p.price
						font-size: 18px
						font-weight: 500
					&::after
						content: ''
						position: absolute
						z-index: 100
						left: 50%
						top: 0
						width: 95%
						height: 1px
						transform: translate(-50%, -50%)
						background-color: $bg-medial-2
			.submit_block
				margin-top: 20px

// Account

section.account_nav
	margin-top: 65px
	.wrapper
		max-width: 1230px
		display: flex
		flex-direction: column
	h2
		font-size: 36px
	h3
		font: 20px $ff_futura
	nav
		margin-top: 10px
		padding-bottom: 2px
	.account_nav_header
		display: none
		align-items: center
		justify-content: space-between
		padding: 6px 0
		font-size: 18px
		cursor: pointer
		border-bottom: 1px solid $text-primary
		transition: all .4s ease
		&:hover
			color: $interactive-color-primary
			svg
				fill: $interactive-color-primary
		svg
			transform: rotate(-90deg)
		&.active
			border-color: $interactive-color-primary
			svg
				transform: rotate(90deg)
			+ .account_links
				margin-top: 10px
				max-height: 400px
				opacity: 1
				visibility: visible
	.account_links
		margin-top: 25px
		display: flex
		align-items: center
		> *
			flex-grow: 1
			max-width: 234px
		li
			margin: -.5px
			&:first-child a
					border-right: 1px solid $bg-medial-2
			&:last-child a
				border-left: 1px solid $bg-medial-2
			a
				width: 100%
				padding: 12px
				border-top: 1px solid $bg-medial-2
				border-bottom: 1px solid $bg-medial-2
				border-left: 1px solid rgba($text-primary, .07)
				border-right: 1px solid rgba($text-primary, .07)
				font-size: 20px
				color: rgba($text-primary, 0.45)
				text-align: center
				&.current
					background: $interactive-color-primary
					color: $text-secondary
					border-color: $interactive-color-primary
				&:not(.current):hover
					background: rgba($interactive-color-primary, 0.1)
					border-color: rgba($interactive-color-primary, 0.1)

section.account_content
	padding: 55px 0 105px
	.wrapper
		max-width: 1230px
	form
		max-width: 703px
		> *
			&:not(:first-child)
				margin-top: 18px
		h3
			margin-top: 30px
			font-size: 24px
		.input_field
			position: relative
			font-size: 18px
			label
				position: absolute
				transform: translateY(-50%)
				top: 0
				right: 2em
				font-size: 0.9em
				color: rgba($text-primary, .7)
				z-index: 0
				padding: 0 .5em
				background: $bg-primary
				user-select: none
				pointer-events: none
			input
				background: none
				padding-right: 2.3em
				padding: .8em 1em
				font-size: 1em
				&::placeholder
					opacity: .57
					font-weight: 200
		.checkbox:checked
		button[type=submit]
			margin-top: 24px
			width: 100%
			text-align: center
			padding: 18px
			border: 1px solid $text-primary
			font-weight: 500
			font-size: 18px
			&:not(:disabled):hover
				border-color: $interactive-color-primary
				background: $interactive-color-primary
				color: $text-secondary
			&:disabled
				opacity: .2
	.account_item
		display: block
		max-width: 800px
		font-size: 18px
		padding: 1em 0
		border-bottom: 1px solid $bg-secondary
		transition: all .4s ease
		&:hover
			background: rgba($interactive-color-primary, .1)
			h6
				color: $interactive-color-primary
		h6
			font-size: 1.3em
			font-weight: 600
			transition: all .4s ease
		p
			margin-top: .2em
			font-size: 1em
			line-height: 1.2
			color: rgba($text-primary, .57)
	#logout
		display: block
		max-width: 223px
		text-align: center
		margin-top: 40px
		border: 1px solid $text-primary
		font-size: 14px
		padding: 12px
		text-transform: uppercase
		&:hover
			border-color: $interactive-color-primary
			background: $interactive-color-primary
			color: $text-secondary
	.orders
		display: flex
		justify-content: space-between
		font-size: 20px
		gap: 6em
		.period
			width: max-content
			padding-top: .7em
			h4
				font-size: 1em
			.manage
				margin-top: 1em
				display: flex
				flex-direction: column
				gap: 1em
				button
					font-size: 0.95em
					text-align: right
					&:hover, &.active
						color: $interactive-color-primary
			.manage_mobile
				display: none
		.results
			flex-grow: 1
			table
				width: 100%
				font-size: .8em
				border-bottom: 1px solid $bg-secondary
			th, td
				text-align: center
				padding: .7em
				&:last-of-type
					width: 8em
					padding-left: 0
			td
				.mobile
					display: none
				&:nth-of-type(1) .mobile
					text-align: right
					span
						color: #939393
				&:nth-of-type(4) .mobile
					.status
						display: block
						&.success
							color: lightgreen
						&.failed
							color: red
			th
				font-weight: normal
				&:last-of-type
					color: $tsp
			tbody tr.main_info
				transition: all .3s ease
				border-top: 1px solid $bg-secondary
			.status
				font-weight: 600
				&.success
					color: lightgreen
				&.failed
					color: red
			.details
				.details_main
					transition: all .4s ease
					opacity: 0
					visibility: hidden
					max-height: 0
					padding: 0
				&.active
					&:last-child > td
						padding-bottom: 1em
					.details_main
						opacity: 1
						visibility: visible
						max-height: 50em
						padding: 1.5em
						&::before
							max-height: 1em
					+ .main_info
						border: none
				> td
					padding: 0
			.open_details
				padding-left: 0
				text-align: left
				button
					padding: .7em 1.4em
					display: inline-flex
					justify-content: center
					align-items: center
					gap: .8em
					background: rgba($interactive-color-primary, .5)
					color: $text-secondary
					svg
						fill: $text-secondary
						transform: rotate(-90deg)
					&:hover
						background: $interactive-color-primary
					&.active
						background: $interactive-color-primary
						svg
							transform: rotate(90deg)
			.details_main
				border: 1px solid $bg-medial-2
				position: relative
				&::before
					content: ''
					position: absolute
					z-index: 10
					left: 0
					top: 0
					right: 0
					width: 100%
					height: 1em
					background: linear-gradient(90deg, rgba(176,119,152,1) 0%, rgba(162,190,194,1) 21%, rgba(100,163,168,1) 50%, rgba(251,0,146,1) 100%)
					opacity: .3
					transition: all .3s ease
					max-height: 0
			.cart_item
				display: flex
				justify-content: space-between
				align-items: flex-start
				gap: 1em
				padding: 1em 0
				position: relative
				transition: all .4s ease
				&:not(:first-child)
					border-top: 1px solid $bg-medial-2
				> *
					flex-shrink: 0
					&:not(:first-child)
						padding-top: 1em
				.thumb
					width: 6em
					height: 8em
					position: relative
					&:hover img
						transform: translate(-50%, -50%) scale(1.05)
					img
						position: absolute
						left: 50%
						top: 50%
						transform: translate(-50%, -50%)
						max-width: 100%
						max-height: 100%
						transition: all .3s ease
				.product_name
					flex-grow: 1
					max-width: 45%
					text-align: right
					h3
						line-height: 1.2
						a:hover
							color: $interactive-color-primary
					.model
						margin-top: 0.5em
						display: flex
						align-items: center
						gap: .5em
					.model_color
						width: 1.4em
						height: 1.4em
						border-radius: 50%
						background: var(--model-color)
					.model_name, .volume
						font-weight: 500
						font-size: .8em
						color: rgba($text-primary, .3)
					.volume
						margin-top: 0.5em
						font-size: .9em
						direction: ltr
				.quantity p, .price
					font-size:  inherit
					line-height: inherit
					font-weight: 500
				.quantity
					flex-grow: 1
			.details_summary
				padding-top: 1em
				position: relative
				display: flex
				align-items: flex-start
				justify-content: space-between
				gap: 1em
				line-height: 2
				&:after
					content: ''
					position: absolute
					z-index: 100
					left: 0
					top: 0
					right: 0
					width: 100%
					height: 1px
					background-color: $bg-medial-2
				.total
					text-align: right
					font-weight: 500
					> *
						display: flex
						align-items: center
						gap: 1em
					.total_of
						width: 6em
				.customer_info
					text-align: right


// Search Results

section.search_results
	&.no_results
		padding: 130px 0 70px
		.wrapper
			display: flex
			flex-direction: column
			align-items: center
		.face
			fill: $interactive-color-primary
		h3
			margin-top: 30px
			font-size: 36px
		p
			margin-top: 12px
			font-size: 24px
		.popular_requests
			width: 100%
			margin-top: 30px
			display: flex
			justify-content: center
			align-items: center
			gap: 14px
			a
				flex-shrink: 0
				flex-grow: 1
				text-align: center
				white-space: nowrap
				font-size: 16px
				padding: 8px 16px
				color: #c4c4c4
				border: 1px solid #c4c4c4
				&:hover
					color: $interactive-color-primary
					border-color: $interactive-color-primary
	.found_amount
		font-size: 16px
		color: rgba($text-primary, .5)
		margin-top: 32px
		text-align: center

// Single Post

section.single_post
	padding-bottom: 100px
	font-size: 16px
	.thumbnail
		font-size: 0
		box-shadow: 0 3px 10px 3px rgba(0, 0, 0, 0.15)
		img
			width: 100%
			height: auto
			min-height: 170px
	.wrapper
		max-width: 1100px
		padding-top: 60px
	.page_title
		margin-bottom: 50px
		font-size: 36px !important
	.post_content p:not(:first-child)
		margin-top: 1.5em







