
// Colors
$w:															#ffffff
$b:															#000000
$tsp:														#00000000

$text-primary:									$b
$text-secondary:								$w

$bg-primary:										$w
$bg-medial:											#eeebeb
$bg-secondary:									$b

$interactive-color-primary:			#fb0092

// Fonts
$font-family-primary:						'Rounded Mplus 1c', sans-serif
$font-family-secondary:					'FuturaBookC', sans-serif
